
  
.demoTable{
	margin: 0px;
	padding: 0 20px;
	background: #fff;
   
}

.poumian span{
   color: #333;
   margin-right: 10px;
   line-height: 46px;
}
.poumian span i {
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
	width: 18px;
	height: 18px;
}

.poumian .pou-span-1 i{
	background: #b1d7fa;

}
.poumian .pou-span-2 i{
	background-color: rgba(139, 195, 74, 1);

}
.poumian .pou-span-3 i{
	background-color: rgba(255, 88, 51, 1);

}
.poumian .pou-span-4 i{
	background: #d9d9d9;

}
.poumian .pou-span-5 i{
	width: 0 !important;
    height: 0 !important;
    border-width: 9px;
    border-style: solid;
    border-color: red red transparent transparent;

}
.poumian .pou-span-6 i{
	background: rgba(0, 51, 255, 0.498039215686275);

}
.dybtn-p{
	width: 70px !important;
    margin: 0 !important;
}
/*左侧房间展示*/
.houseBigBox{
	padding: 10px 20px 30px;
	/*position: absolute;
	top: 231px;
	height: calc(100% - 230px);
	overflow-y: auto;
	width: calc(100% - 60px);*/
}
.houseBigBox ul li{
	height: 100px;
	float: left;
	margin:0  5px 5px 0;
	cursor: pointer;
	box-sizing: border-box;
}
/*已出租（已入住）无账单*/
.houseBigBox ul li.normal_li{
	background: #b1d7fa;
	border: 1px solid #50a9fc;
}
/*到期*/
.houseBigBox ul li.expire_li{
	background: #fd6846;
	border: 1px solid #fd6846;
}
/*空置*/
.houseBigBox ul li.vacancy_li{
	background: #d9d9d9;
	border: 1px solid #acacac;
}
/*已出租（已入住）有账单*/
.houseBigBox ul li.rent_li{
	background: #b1d7fa url(../images/shou1.png) no-repeat right top;
	border: 1px solid #50a9fc;
}
/*未出租（已入住）有账单*/
.houseBigBox ul li.norent_li{
	background: #7893fb url(../images/shou1.png) no-repeat right top;
	border: 1px solid #7893fb;
}
/*未出租（已入住）无账单*/
.houseBigBox ul li.rent_noli{
	background: #7893fb;
	border: 1px solid #7893fb;
}
.houseBigBox .houseBox{
	border-bottom: 1px solid #E6E6E6;
	overflow: hidden;
	width: 100%;
	padding-left: 120px;
	box-sizing: border-box;
	border-left:4px solid transparent;
	position: relative;
	margin-bottom: 15px;
}
.houseBigBox .houseBox:hover{
	border-left:4px solid #20a8ff ;
}
.houseBigBox .houseBox .leftFloor{
	float: left;
	width: 100px;
	position: absolute;
	left: 30px;
	bottom: 10px;
}
.houseBigBox .houseBox ul {
	float: left;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}
.houseBigBox .houseBox .leftFloor p{
	font-size: 20px;
	color: #000000;
	margin: 0;
}
.houseBigBox .houseBox .leftFloor span{
	font-size: 14px;
	color: #333;
}
.houseBigBox .houseBox ul li p{
	width: 90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
	font-size: 14px;
	color: #333;
	margin: 15px 0 0 10px;
}
.houseBigBox .houseBox ul li span{
	display: block;
	font-size: 12px;
	color: #333;
	margin: 5px 0 0 10px;
}
.houseBigBox .houseBox ul li div{
	overflow: hidden;
	margin-top: 5px;
}
.houseBigBox .houseBox ul li div i{
	font-style: normal;
	display:block;
	float: left;
	color: #1890ff;
}
.houseBigBox .houseBox ul li div img{
	float: left;
	margin-left: 10px;
	margin-right:3px;
	margin-top: 2px;
}
.rightBoxBg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background: rgba(0,0,0,0.3);
	right: -100%;
	top: 0;
	z-index: 999;
}
.rightBoxDiv{
	width: 1000px;
	height: 100%;
	position: fixed;
	top: 0;
	right: -1000px;
	background: #fff;
}
.rightBoxDiv iframe{
	width: 100%;
	height: 100%;
	border: none;
}
/*右侧划出房间详情*/
.layOpen .layui-input-block .hasCursor{
	cursor: pointer;
}
.topTitle{
	overflow: hidden;
	border-bottom: 1px solid #e4e4e4;
}
.chooseOne_y{
	display: none;
}
.topTitle i{
	display: block;
	float: left;
	width: 60px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}
.topTitle p{
	width: calc(100% - 60px);
	text-align: center;
	line-height: 50px;
	font-size: 18px;
}
.dy-btn.blue {
	border: 1px solid transparent;
	background: #1890ff;
	color: #fff;
}
.cooperDiv_y{
	padding:15px 10px;
	overflow: hidden;
	border-bottom: 1px dashed #e4e4e4;
}
.cooperDiv_y h6{
	float: left;
	font-size: 22px;
	color: #666;
}
.cooperDiv_y .dy-btn{
	float: right;
	margin: 0 5px;
}
.houseAnalysis_y{
	overflow: hidden;
	padding: 15px 0 5px;
}
.houseAnalysis_y li{
	padding: 0 25px;
	float: left;
	border-right: 1px solid #e4e4e4;
}
.houseAnalysis_y li span{
	font-size: 14px;
	color: #999;
	display: block;
	margin-bottom: 10px;
}
.houseAnalysis_y li p{
	font-size: 18px;
	color: #333;
}
.myTab_y .layui-tab-title{
	border-bottom: 1px solid #ccc;
}
.myTab_y .layui-tab-title li{
	width: 25%;
	padding: 0;
	font-size: 16px;
}
.myTab_y .layui-tab-title .layui-this{
	color:#1890ff;
}
.myTab_y .layui-tab-title .layui-this:after{
	border-bottom: 2px solid #1890ff;
}
.myContent_y{
	background: #efefef;
	height:100%;
	position: absolute;
	width: 970px;
	/* width: 100%; */
	overflow-y: auto;
	padding: 30px 15px;
}
.addoccupancy_y{
	display: none;
}
.geren{
	display: none;
}
.fenchai_y{
	border-top: 1px solid #EEEEEE;
	display: none;
}
/*停车场*/
.houseBigBox .carportBox{
	overflow: hidden;
}
.houseBigBox .carportBox li{
	width: 180px;
	height: 230px;
	border:3px solid #FFFFFF;
	float: left;
	margin:0 20px 20px 0;
	cursor: pointer;
	padding: 30px 0 0 12px;
	color: #333333;
	color: #FFFFFF;
}
.houseBigBox .carportBox li h3{
	font-size: 30px;
	margin-bottom: 20px;
}
.houseBigBox .carportBox .car_blue{
	background: #8cc8ff url(../images/car.png) no-repeat 105px 110px;
	background-size:35%;
}
.houseBigBox .carportBox .car_gray{
	background: #d9d9d9;
}
.houseBigBox .carportBox .car_green{
	background: rgba(139, 195, 74, 1) url(../images/car.png) no-repeat 105px 110px;
	background-size:35%;
}
.houseBigBox .carportBox .car_redAll{
	background: rgba(255, 88, 51, 1) url(../images/car.png) no-repeat 105px 110px;
	background-size:35%;
}
.houseBigBox .carportBox .car p{
	margin-bottom: 10px;
}
/*租赁合同*/
.chooseHouse h4{
	width: 80px;
	font-weight: normal;
	font-size: 12px;
	border: 1px solid #cfdadd;
	text-align: center;
	line-height: 25px;
	cursor: pointer;
}
.chooseHouse .houseBox{
	overflow: hidden;
	margin-top: 4px;
}
.chooseHouse  .houseNum{
	width: 80px;
	height: 35px;
	position: relative;
	margin-right:20px ;
	float: left;
}
.chooseHouse h4:hover{
	color: #20a8ff;
	border: 1px solid #20a8ff;
}
.chooseHouse i.active {
    display: block;
    height: 14px;
    width: 14px;
    position: absolute;
    right: -2px;
    top: 13px;
    background: url(../images/deleteOne.png) no-repeat;
}
.moneyDetail{
    clear: both;
    width: 625px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #cfdadd;
    margin-bottom: 20px;
    margin-left: 15px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
}
.moneyDetail:hover{
	border:1px solid #20a8ff;
	color: #20a8ff;
}
.moneyDetail_1{
	width: 625px;
	margin-left: 15px;
	display: none;
}
.moneyDetail_1 .moneyDetail_1T{
	width: 625px;
	height: 40px;
	line-height: 40px;
	border: 1px solid #cfdadd;
	margin-bottom: 10px;
}
.moneyDetail_1 .moneyDetail_1B{
	border: 1px solid #cfdadd;
	height: auto;
	padding-bottom: 30px;
	overflow:hidden;
}
.editBtn{
	width:100px;
	height:30px;
	line-height:30px;
	background:#20a8ff;
	color:#fff;
	margin-top:30px;
}
#cancle{
	background:#fff;
	color:#333;
	border:1px solid #ccc;
}
#saveEdit{
	margin-left:125px;
}
.moneyDetail_1 .moneyDetail_1T span:first-of-type{
	width:200px ;
}
.moneyDetail_1 .moneyDetail_1B span:first-of-type{
	width:200px ;
}
.moneyDetail_1 .moneyDetail_1B li{
	height: 50px;
	line-height: 50px;
	overflow: hidden;
}
.moneyDetail_1 .moneyDetail_1B li.bigLi{
	background: url(../images/zhankai.png) 20px center no-repeat;
	cursor: pointer;
}
.moneyDetail_1 .moneyDetail_1B li.bigLi .last-span{
	margin-left: 5px;
}
.moneyDetail_1 .moneyDetail_1B li.bigLi .last-span .layui-form-checkbox[lay-skin=primary]{
	width: 20px;
}

.moneyDetail_1 .moneyDetail_1B li.bigLi .last-span .layui-form-checkbox span {
    width: 36px;
    margin-left: -13px;
}



.moneyDetail_1 .moneyDetail_1B li.bigLi.active{
	background: url(../images/shouqi.png) 20px center no-repeat;
}
.moneyDetail_1 .moneyDetail_1B .detail_Ul{
	border: 1px solid #cfdadd;
	margin: 0 50px;
	background: #EFEFEF;
	display: none;
}
.moneyDetail_1 .moneyDetail_1B .detail_Ul li{
	height:auto;
	line-height: 40px;
	border-bottom: 1px solid #cfdadd;
}
.moneyDetail_1 .moneyDetail_1B .detail_Ul li span{
	width: 150px;
}

.moneyDetail_1 .moneyDetail_1B .detail_Ul li:last-of-type{
	border: none;
}
.moneyDetail_1 p{
	float: right;
	margin:20px 0;
}
.moneyDetail_1 span{
	width: 180px;
	float: left;
	text-align: center;
	margin-left: 20px;
	font-size: 14px;
}
.moneyDetail_1 span#yj{
	width:150px;
	text-align: left;
}
.moneyDetailBox{
	clear: both;
}
.moneyDetail_1 h4{
	height: 50px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
.borderTop{
	clear: both;
	border-top: 1px solid #E4E4E4;
	margin: 0 15px 20px;
}
