@page {
  size: auto;
  margin: 0;
}

.print-layout {
  margin: 0 auto;
  padding: 50px 0 0 0;
  width: 20cm;
  height: 842px;
}

.print-layout h3 {
  text-align: center;
  font: 20px/30px "myfont";
  margin-bottom: 10px;
}

.print-layout .print-box {
  padding: 5px 0;
}

.print-layout .print-box li {
  width: 25%;
  white-space: pre-wrap;
  word-wrap: break-word;
  font: 14px/20px "myfont";
}

.print-layout table {
  width: 100%;
}

.print-layout table tr th {
  text-align: center;
  vertical-align: middle;
  font: 14px/40px "myfont";
}

.print-layout table tr td {
  line-height: 18px;
  font-size: 12px;
  text-align: center;
  vertical-align: middle;
}

.print-layout table tr .tab40 {
  font-size: 16px;
}

.print-layout table tr .tab120 {
  height: 120px;
}

.print-layout table tr .tabcont {
  font: 16px/32px "myfont";
}

.print-layout table tfoot tr td {
  line-height: 40px;
}

.print-layout .foot-dec li {
  width: 33.33%;
  line-height: 50px;
}

.print-layout .foot-dec li input {
  outline: none;
  border: none;
  background: none;
}
