
@page 
    size: auto  /* auto is the initial value */
    margin: 0 /* this affects the margin in the printer settings */

.print-layout
    margin: 0 auto
    padding: 50px 0 0 0
    width: 20cm
    height: 842px
    h3
        text-align: center
        font: 20px/30px "myfont"
        margin-bottom: 10px
    .print-box
        padding: 5px 0
        li
            width: 25%
            white-space: pre-wrap
            word-wrap: break-word
            font: 14px/20px "myfont"
    table
        width: 100%
        tr
            th
                text-align: center
                vertical-align: middle
                font: 14px/40px "myfont"
        tr
            td
                
                line-height: 18px
                font-size: 12px
                text-align: center
                vertical-align: middle
            .tab40
               
                font-size: 16px
            .tab120
                height: 120px
            .tabcont
                font: 16px/32px "myfont"
        tfoot
            tr
                td
                    line-height: 40px
    .foot-dec
        li
            width: 33.33%
            line-height: 50px
            input
                outline: none
                border: none
                background: none
            